/* :root {
  --toastify-toast-background: #14c6a4;
  --toastify-color-light: #14c6a4 !important;
} */

.Toastify__toast-theme--light {
  background: #14c6a4 !important;
  color: white !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-black {
  color: black;
}

.bg-green {
  background: "#93E5D5 !important";
  color: "#FBFBFB !important";
  font-weight: "bold";
}
